<template>
  <div class="app-container calendar-list-container">
    <div class="filter-container">
      <el-input @keyup.enter.native="handleFilter" style="width: 200px;" class="filter-item" :placeholder="$t('table.title')" v-model="listQuery.title">
      </el-input>
      <el-button class="filter-item" type="primary" v-waves icon="el-icon-search" @click="handleFilter">{{$t('table.search')}}</el-button>
      <el-button class="filter-item" style="margin-left: 10px;" @click="handleCreate" type="primary" icon="el-icon-edit">{{$t('table.add')}}</el-button>
      <el-button class="filter-item" type="primary" :loading="downloadLoading" v-waves icon="el-icon-download" @click="handleDownload">{{$t('table.export')}}</el-button>
    </div>

    <!-- Datatable -->

    <el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="Loading" border fit highlight-current-row style="width: 100%">
      <el-table-column prop="Id" label="#" width="5%" sortable>
			</el-table-column>
      <el-table-column prop="BeginDate" label="BeginDate" width="10%" sortable>
      </el-table-column>
      <el-table-column prop="EndDate" label="EndDate" width="10%" sortable>
      </el-table-column>
      <el-table-column label="Products" width="60%">
        <template slot-scope="scope">
          <el-tag :key="tag" v-for="tag in scope.row.Products" :disable-transitions="false">{{tag.BigClientProductName}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" :label="$t('table.actions')" width="10%" class-name="small-padding">
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">{{$t('table.edit')}}</el-button>
        </template>
      </el-table-column>
  <!--    
      <el-table-column prop="Status" label="Status" width="100" :filters="[{ text: 'true', value: 'true' }, { text: 'false', value: 'false' }]" :filter-method="filterStatus" filter-placement="bottom-end">
      <template slot-scope="scope">
        <el-tag :type="scope.row.Status === true ? 'success' : 'danger'" close-transition>{{scope.row.Status}}</el-tag>
              </template>
    </el-table-column>
    -->
    </el-table>
    <!-- <div class="pagination-container">
      <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.page" :page-sizes="[10,20,30, 50]" :page-size="listQuery.limit" layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
    </div> -->

    <!-- Modal Form Handel -->
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form v-loading="itemLoading" :rules="rules" ref="dataForm" :model="temp" label-position="top">
        <el-form-item label="AutomaticApprobation" prop="AutomaticApprobation">
          <el-checkbox v-model="temp.AutomaticApprobation" label="Check" border></el-checkbox>
        </el-form-item>
        <el-form-item label="DeliveryDays" prop="DeliveryDays">
          <el-input-number v-model="temp.DeliveryDays"></el-input-number>
        </el-form-item>
        <el-form-item label="RotationToRecover" prop="RotationToRecover">
          <el-input v-model="temp.RotationToRecover"></el-input>
        </el-form-item>
        <el-form-item label="ValidityDays" prop="ValidityDays">
          <el-input-number v-model="temp.ValidityDays"></el-input-number>
        </el-form-item>
        <el-form-item label="MinimumRotation" prop="MinimumRotation">
          <el-input v-model="temp.MinimumRotation"></el-input>
        </el-form-item>
        <el-form-item label="BeginDate / EndDate">
          <el-date-picker type="daterange" v-model="dateRange" format="yyyy/MM/dd" value-format="yyyy-MM-dd" start-placeholder="BeginDate" end-placeholder="EndDate"></el-date-picker>
        </el-form-item>
        <el-form-item label="Products" prop="Products">
          <el-select class="filter-item isWidth100" filterable multiple v-model="selectedProducts" placeholder="Please select">
            <el-option v-for="item in productsAviable" :key="item.Id" :label="item.Name" :value="item.Id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">{{$t('table.cancel')}}</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="createData">{{$t('table.confirm')}}</el-button>
        <el-button v-else type="primary" @click="updateData">{{$t('table.confirm')}}</el-button>
      </div>
    </el-dialog>

    <el-dialog title="Reading statistics" :visible.sync="dialogPvVisible">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Channel"> </el-table-column>
        <el-table-column prop="pv" label="Pv"> </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">{{$t('table.confirm')}}</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import {
  fetchListClientBusnisseRules,
  fecthClientBusnissesRule,
  fetchListProduct,
  creatClientBusnisseRule,
  updateClientBusnisseRule
} from "@/api/client/busnisessrules";
import store from '@/store'
import waves from "@/directive/waves";

export default {
  name: "complexTable",
  directives: {
    waves
  },
  data() {
    // TODO - Form for Create Data
    return {
      clientId: this.$store.getters.id,
      tableKey: 0,
      list: null,
      BigClient: [],
      productsAviable: [],
      selectedProducts: [],
      dateRange: [],
      listLoading: true,
      itemLoading: true,
      // Quantity of Row to Show
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: "+id"
      },
      temp: {
        AutomaticApprobation: false,
        RotationToRecover: undefined,
        DeliveryDays: undefined,
        ValidityDays: undefined,
        MinimumRotation: undefined,
        BeginDate: "",
        EndDate: "",
        Products: []
      },

      dialogFormVisible: false,
      dialogStatus: "",
      textMap: {
        update: "Edit",
        create: "Create"
      },

      dialogPvVisible: false,
      pvData: [],
      rules: {
        MaxUnpayedBills: [
          {
            required: true,
            message: "MaxUnpayedBills is required",
            trigger: "blur,change,focus"
          },
          {
            type: "number",
            message: "It must be a Interger Number",
            pattern: /^\d*$/
          }
        ],
        MinimumProfitability: [
          {
            required: true,
            message: "MinimumProfitability is required",
            trigger: "change"
          }
        ],
        Id_BigClient: [
          { required: true, message: "Client is required", trigger: "change" }
        ]
      },
      downloadLoading: false
    };
  },

  filters: {
    statusFilter(status) {
      const statusMap = {
        true: "success",
        false: "danger"
      };
      return statusMap[status];
    }
  },
  created() {
    this.getList();
    this.timer = setInterval(this.getList(), 1000);
  },
  methods: {
    getList() {
      this.listLoading = true;
      fetchListClientBusnisseRules().then(response => {
        console.log(response.data);
        this.list = response.data;
        this.list = this.list;
        this.listLoading = false;
      });
    },

    getClientBusnisseRule(param) {
      fecthClientBusnissesRule(param).then(response => {
        console.log(response.data[0]);
        this.temp = response.data[0];
      });
    },

    getProductsAviable() {
      this.itemLoading = true;
      fetchListProduct().then(response => {
        console.log(response.data);
        this.itemLoading = false;
        this.productsAviable = response.data;
      });
    },

    // Handles
    handleFilter() {
      this.listQuery.page = 1;
      this.getList();
    },
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: "Actualizado",
        type: "success"
      });
      row.status = status;
    },
    resetTemp() {
      this.getProductsAviable();
      this.dateRange = [];
      this.productsAviable = [];
      this.temp = {
        AutomaticApprobation: false,
        RotationToRecover: "",
        DeliveryDays: undefined,
        ValidityDays: undefined,
        MinimumRotation: "",
        BeginDate: "",
        EndDate: "",
        Products: []
      };
    },

    handleCreate() {
      this.resetTemp();
      this.dialogStatus = "create";
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },
    preparePayload(data) {
     // const id = this.$store.getters.id
      this.temp.Id_BigClient = this.clientId
      // Get BeginDate & EndDate
      this.temp.BeginDate = this.dateRange[0];
      this.temp.EndDate = this.dateRange[1];

      // Config Product Format 
      for (const v of this.selectedProducts) { 
          this.temp.Products.push({Id: v})
      }
      console.log(this.temp);
    },
    createData() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          this.preparePayload(this.temp);
          creatClientBusnisseRule(this.temp).then(() => {
            this.dialogFormVisible = false;
            this.$notify({
              title: "Registrado",
              message:
                "La Regla de Negocio se ha registrado satisfactoriamente.",
              type: "success",
              duration: 2000
            });
          });
          this.$nextTick(() => {
            this.getList();
          });
        }
      });
    },

    handleUpdate(row) {
      this.getClientBusnisseRule(row.Id);
      this.dialogStatus = "update";
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },

    updateData() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          const tempData = Object.assign({}, this.temp);
          updateClientsBusnisseRule(tempData.Id, tempData).then(() => {
            for (const v of this.list) {
              if (v.Id === this.temp.Id) {
                const index = this.list.indexOf(v);
                this.list.splice(index, 1, this.temp);
                break;
              }
            }
            this.dialogFormVisible = false;
            this.$notify({
              title: "Actializado",
              message: "El Registro fue actualizado satisfactoriamente",
              type: "success",
              duration: 2000
            });
          });
        }
      });
    },
    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData;
        this.dialogPvVisible = true;
      });
    },
    handleDownload() {
      this.downloadLoading = true;
      import("@/vendor/Export2Excel").then(excel => {
        const tHeader = ["timestamp", "title", "type", "importance", "status"];
        const filterVal = [
          "timestamp",
          "title",
          "type",
          "importance",
          "status"
        ];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel(tHeader, data, "table-list");
        this.downloadLoading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v =>
        filterVal.map(j => {
          if (j === "timestamp") {
            return parseTime(v[j]);
          } else {
            return v[j];
          }
        })
      );
    }
  }
};
</script>
