<template>
  <div class="app-container calendar-list-container">
    <div class="filter-container">
      <el-input @keyup.enter.native="handleFilter" style="width: 200px;" class="filter-item" :placeholder="$t('table.title')" v-model="listQuery.title">
      </el-input>
      <el-button class="filter-item" type="primary" v-waves icon="el-icon-search" @click="handleFilter">{{$t('table.search')}}</el-button>
      <el-button class="filter-item" style="margin-left: 10px;" @click="handleCreate" type="primary" icon="el-icon-edit">{{$t('table.add')}}</el-button>
      <el-button class="filter-item" type="primary" :loading="downloadLoading" v-waves icon="el-icon-download" @click="handleDownload">{{$t('table.export')}}</el-button>
      <p>TODO// Update</p>
    </div>

    <!-- Datatable -->

    <el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="Loading" border fit highlight-current-row style="width: 100%">
    <el-table-column type="expand" width="5%" label="Details">
      <template slot-scope="props">
        <p>Name: {{ props.row.Name }}</p>
        <p>Phone: {{ props.row.Phone }}</p>
        <p>Email: {{ props.row.Email }}</p>
        <p>URLAPIBase: {{ props.row.URLAPIBase }}</p>
      </template>
    </el-table-column>
      <el-table-column prop="Id" label="#" width="5%" sortable >
			</el-table-column>
     <el-table-column prop="Name" label="Name" width="75%" sortable>
			</el-table-column>
      <el-table-column align="center" label="Status" width="5%">
        <template slot-scope="scope">
          <el-tag :type="scope.row.Status | statusFilter">{{scope.row.Status}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" :label="$t('table.actions')" width="10%" class-name="small-padding">
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">{{$t('table.edit')}}</el-button>
        </template>
      </el-table-column>
  <!--    
      <el-table-column prop="Status" label="Status" width="100" :filters="[{ text: 'true', value: 'true' }, { text: 'false', value: 'false' }]" :filter-method="filterStatus" filter-placement="bottom-end">
      <template slot-scope="scope">
        <el-tag :type="scope.row.Status === true ? 'success' : 'danger'" close-transition>{{scope.row.Status}}</el-tag>
              </template>
    </el-table-column>
    -->
    </el-table>
    <!-- <div class="pagination-container">
      <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.page" :page-sizes="[10,20,30, 50]" :page-size="listQuery.limit" layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
    </div> -->

    <!-- Modal Form Handel -->
    
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form v-loading="itemLoading" :rules="rules" ref="dataForm" :model="temp" label-position="left">
        <el-form-item v-if="dialogStatus=='create'" label="Distribution Enterprise’s Client" prop="Id_BigClient_DistributionEnterprise">
          <el-select class="filter-item isWidth100" v-model="temp.Id_BigClient_DistributionEnterprise" placeholder="Please select">
            <el-option-group v-for="group in DistributionEnterprise" :key="group.label" :label="group.label">
            <el-option v-for="item in group.options" :loading="true" :key="item.Id_Provider" :label="item.Name" :value="item.Id_Provider">
            </el-option>
            </el-option-group>
          </el-select>
        </el-form-item>
        <el-form-item v-if="dialogStatus=='create'" label="Client’s Provider" prop="Id_Provider_BigClient">
          <el-select class="filter-item isWidth100" v-model="temp.Id_Provider_BigClient" placeholder="Please select">
            <el-option-group v-for="group in BigClientProvider" :key="group.label" :label="group.label">
            <el-option v-for="item in group.options" :loading="true" :key="item.Id_Provider" :label="item.Name" :value="item.Id_Provider">
            </el-option>
            </el-option-group>
          </el-select>
        </el-form-item>
        <el-form-item label="Username" prop="Username">
          <el-input v-model="temp.Username"></el-input>
        </el-form-item>
        <el-form-item label="Password" prop="Password">
          <el-input v-model="temp.Password" type="password"></el-input>
        </el-form-item>
        <el-form-item label="URLAPIBase" prop="URLAPIBase">
          <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 2}" v-model="temp.URLAPIBase"></el-input>
        </el-form-item>
        <el-form-item label="Status" prop="Status">
          <el-switch v-model="temp.Status" active-text="Active" inactive-text="Inactive" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">{{$t('table.cancel')}}</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="createData">{{$t('table.confirm')}}</el-button>
        <el-button v-else type="primary" @click="updateData">{{$t('table.confirm')}}</el-button>
      </div>
    </el-dialog>

    <el-dialog title="Reading statistics" :visible.sync="dialogPvVisible">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Channel"> </el-table-column>
        <el-table-column prop="pv" label="Pv"> </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">{{$t('table.confirm')}}</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import {
  fetchClient,
  fetchListClients,
  fetchListClientsAviable,
  fetchListClientsProviders,
  creatClient,
  updateClient
} from "@/api/entreprise/client";
import waves from "@/directive/waves";
import { parseTime } from "@/utils";

export default {
  name: "complexTable",
  directives: {
    waves
  },
  data() {
    // TODO - Form for Create Data
    return {
      test: undefined,
      tableKey: 0,
      list: [],
      listLoading: true,
      itemLoading: true,
      DistributionEnterprise: [
        {
          label: "",
          options: []
        },
        {
          label: "",
          options: []
        }
      ],
      BigClientProvider: [
        {
          label: "",
          options: []
        },
        {
          label: "",
          options: []
        }
      ],
      // Quantity of Row to Show
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: "+id"
      },
      temp: {
        Id_BigClient_DistributionEnterprise: [],
        Id_Provider_BigClient: [],
        Username: "",
        Password: "",
        URLAPIBase: "",
        Status: false
      },

      dialogFormVisible: false,
      dialogStatus: "",
      textMap: {
        update: "Edit",
        create: "Create"
      },

      dialogPvVisible: false,
      pvData: [],
      rules: {
        Id_BigClient_DistributionEnterprise: [
          {
            required: true,
            message: "Distribution Enterprise’s Client is required",
            trigger: "change"
          }
        ],
        Id_Provider_BigClient: [
          {
            required: true,
            message: "Client’s Provider is required",
            trigger: "change"
          }
        ],
        Username: [
          {
            required: true,
            message: "Username is required",
            trigger: "blur,change"
          },
          { max: 10, message: "10 Characters Only" }
        ],
        Password: [
          {
            required: true,
            message: "Password is required",
            trigger: "blur,change"
          },
          { max: 8, message: "8 Characters Only" }
        ],
        URLAPIBase: [
          {
            required: true,
            message: "URLAPIBase is required",
            trigger: "blur,change"
          },
          {
            pattern: /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/i,
            message: "It must be a valid url"
          }
        ],
        Status: [
          { required: true, message: "Status is required", trigger: "change" }
        ]
      },
      downloadLoading: false
    };
  },

  filters: {
    statusFilter(status) {
      const statusMap = {
        true: "success",
        false: "danger"
      };
      return statusMap[status];
    }
  },
  created() {
    this.getList();
  },
  watch: {
    "temp.Id_BigClient_DistributionEnterprise"() {
      if (this.temp.Id_BigClient_DistributionEnterprise !== undefined) {
        this.itemLoading = true;
        fetchListClientsProviders(
          this.temp.Id_BigClient_DistributionEnterprise
        ).then(response => {
          this.BigClientProvider[1].options = response.data;
          this.BigClientProvider[1].label = "Aviable Values";
          this.itemLoading = false;
        });
      } else {
        this.BigClientProvider[1].label = "";
        this.BigClientProvider[1].options = [];
      }
    }
  },

  methods: {
    filterStatus(value, row) {
      return row.Status === value;
    },
    getClient(param) {
      this.itemLoading = true;
      fetchClient(param).then(response => {
        this.temp = response.data[0];
        this.itemLoading = false;
      });
    },
    getList() {
      this.listLoading = true;
      fetchListClients().then(response => {
        console.log(response.data);
        this.list = response.data;
        this.list = this.list;
        this.listLoading = false;
      });
    },
    getDistributionentErpriseAvailable() {
      this.itemLoading = true;
      fetchListClientsAviable().then(response => {
        this.DistributionEnterprise[1].options = response.data;
        this.DistributionEnterprise[1].label = "Aviable Values";
        this.itemLoading = false;
      });
    },
    // Handles
    handleFilter() {
      this.listQuery.page = 1;
      this.getList();
    },
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: "Actualizado",
        type: "success"
      });
      row.status = status;
    },
    cleanCurrentValues() {
      this.DistributionEnterprise[0].label = ""
      this.DistributionEnterprise[0].options.splice(0,1)
    },
    resetTemp() {
      this.cleanCurrentValues();
      this.temp = {
        Id_BigClient_DistributionEnterprise: this.getDistributionentErpriseAvailable(),
        Id_Provider_BigClient: [],
        Username: "",
        Password: "",
        URLAPIBase: "",
        Status: false
      };
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = "create";
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },
    createData() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          creatClient(this.temp).then(() => {
            this.dialogFormVisible = false;
            this.$notify({
              title: "Registrado",
              message: "El cliente se ha registrado satisfactoriamente.",
              type: "success",
              duration: 2000
            });
          });
          this.getList();
        }
      });
    },

    // Update Methods
    currentValues(param) {
      this.DistributionEnterprise[0].options = [];
      this.BigClientProvider[0].options = [];

      this.DistributionEnterprise[0].options = [
        {
          Id_Provider: param.Id_DistributionEnterprise,
          Name: "Id: " + param.Id_DistributionEnterprise
        }
      ];
      this.DistributionEnterprise[0].label = "Current Value";

      this.BigClientProvider[0].options = [
        { Id_Provider: param.Id_BigClient, Name: "Id: " + param.Id_BigClient }
      ];
      this.BigClientProvider[0].label = "Current Value";
    },

    handleUpdate(row) {
      this.currentValues(row);
      this.getClient(row.Id);
      this.dialogStatus = "update";
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },
    updateData() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          const tempData = Object.assign({}, this.temp);
          updateClient(tempData.Id, tempData).then(() => {
            for (const v of this.list) {
              if (v.Id === this.temp.Id) {
                const index = this.list.indexOf(v);
                this.list.splice(index, 1, this.temp);
                break;
              }
            }
            this.dialogFormVisible = false;
            this.$notify({
              title: "成功",
              message: "更新成功",
              type: "success",
              duration: 2000
            });
          });
        }
      });
    },
    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData;
        this.dialogPvVisible = true;
      });
    },
    handleDownload() {
      this.downloadLoading = true;
      import("@/vendor/Export2Excel").then(excel => {
        const tHeader = ["timestamp", "title", "type", "importance", "status"];
        const filterVal = [
          "timestamp",
          "title",
          "type",
          "importance",
          "status"
        ];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel(tHeader, data, "table-list");
        this.downloadLoading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v =>
        filterVal.map(j => {
          if (j === "timestamp") {
            return parseTime(v[j]);
          } else {
            return v[j];
          }
        })
      );
    }
  }
};
</script>
