<template>
  <div class="app-container calendar-list-container">
    <div class="filter-container">
      <el-input @keyup.enter.native="handleFilter" style="width: 200px;" class="filter-item" :placeholder="$t('table.title')" v-model="listQuery.title">
      </el-input>
      <el-button class="filter-item" type="primary" v-waves icon="el-icon-search" @click="handleFilter">{{$t('table.search')}}</el-button>
      <el-button class="filter-item" style="margin-left: 10px;" @click="handleCreate" type="primary" icon="el-icon-edit">{{$t('table.add')}}</el-button>
      <el-button class="filter-item" type="primary" :loading="downloadLoading" v-waves icon="el-icon-download" @click="handleDownload">{{$t('table.export')}}</el-button>
      <p>TODO// Update</p>
    </div>

    <!-- Datatable -->

    <el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="Loading" border fit highlight-current-row style="width: 100%">
      <el-table-column type="expand" width="5%" label="Details">
      <template slot-scope="props">
        <p>Name: {{ props.row.Name }}</p>
        <p>Volume: {{ props.row.Volume }}</p>
        <p>Weight: {{ props.row.Weight }}</p>
        <p>Presentation: {{ props.row.Presentation }}</p>
        <p>Description: {{ props.row.Description }}</p>
        <p>UnitPrice: {{ props.row.UnitPrice }}</p>
        <p>Contribution: {{ props.row.Contribution }}</p>
      </template>
    </el-table-column>
      <el-table-column prop="Id" label="#" width="5%" sortable>
			</el-table-column>
     <el-table-column prop="BigClientName" label="BigClientName" width="15%" sortable>
			</el-table-column>
      <el-table-column prop="DistributionEnterpriseProductName" label="DistributionEnterpriseProductName" width="15%" sortable>
			</el-table-column>
            <el-table-column prop="BigClientProductInventory" label="BigClientProductInventory" width="10%" sortable>
			</el-table-column>
            <el-table-column prop="RotationCalculationIntervalDays" label="RotationCalculationIntervalDays" width="11%" sortable>
			</el-table-column>
            <el-table-column align="center" label="Status"  width="5%">
        <template slot-scope="scope">
          <el-tag :type="scope.row.Status | statusFilter">{{scope.row.Status}}</el-tag>
        </template>
      </el-table-column>
            <el-table-column align="center" :label="$t('table.actions')" width="10%" class-name="small-padding">
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">{{$t('table.edit')}}</el-button>
        </template>
      </el-table-column>
  <!--    
      <el-table-column prop="Status" label="Status" width="100" :filters="[{ text: 'true', value: 'true' }, { text: 'false', value: 'false' }]" :filter-method="filterStatus" filter-placement="bottom-end">
      <template slot-scope="scope">
        <el-tag :type="scope.row.Status === true ? 'success' : 'danger'" close-transition>{{scope.row.Status}}</el-tag>
              </template>
    </el-table-column>
    -->
    </el-table>
    <!-- <div class="pagination-container">
      <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.page" :page-sizes="[10,20,30, 50]" :page-size="listQuery.limit" layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
    </div> -->

    <!-- Modal Form Handel -->
    
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form v-loading="itemLoading" :rules="rules" ref="dataForm" :model="temp" label-position="top">
        <el-form-item label="Distribution Enterprise’s Product" prop="Id_Product_DistributionEnterprise">
          <el-select class="filter-item isWidth100" v-model="temp.Id_Product_DistributionEnterprise" placeholder="Please select">
            <el-option-group v-for="group in ProductDistributionEnterprise" :key="group.label" :label="group.label">
            <el-option v-for="item in group.options" :key="item.Id" :label="item.Name" :value="item.Id">
            </el-option>
            </el-option-group>
          </el-select>
        </el-form-item>
        <el-form-item label="Client" prop="Id_BigClient">
          <el-select class="filter-item isWidth100" v-model="temp.Id_BigClient" placeholder="Please select">
            <el-option-group v-for="group in BigClient" :key="group.label" :label="group.label">
            <el-option v-for="item in group.options" :key="item.Id" :label="item.Name" :value="item.Id">
            </el-option>
            </el-option-group>
          </el-select>
        </el-form-item>
        <el-form-item label="Client’s Product" prop="Id_Product_BigClient">
          <el-select class="filter-item isWidth100" v-model="temp.Id_Product_BigClient" placeholder="Please select">
            <el-option-group v-for="group in BigClientProducts" :key="group.label" :label="group.label">
            <el-option v-for="item in group.options" :key="item.Id" :label="item.Name" :value="item.Id">
            </el-option>
            </el-option-group>
          </el-select>
        </el-form-item>
        <el-form-item label="Rotation Calculation’s Interval Days" prop="RotationCalculationIntervalDays">
          <el-input-number :min="1" :value="0" v-model="temp.RotationCalculationIntervalDays"></el-input-number>
        </el-form-item>
        <el-form-item label="Status" prop="Status">
          <el-switch v-model="temp.Status" active-text="Active" inactive-text="Inactive" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">{{$t('table.cancel')}}</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="createData">{{$t('table.confirm')}}</el-button>
        <el-button v-else type="primary" @click="updateData">{{$t('table.confirm')}}</el-button>
      </div>
    </el-dialog>

    <el-dialog title="Reading statistics" :visible.sync="dialogPvVisible">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Channel"> </el-table-column>
        <el-table-column prop="pv" label="Pv"> </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">{{$t('table.confirm')}}</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import {
  fetchProduct,
  fetchListProducts,
  fetchListProductsAviable,
  fetchListProductsProviders,
  fetchListClients,
  creatProduct,
  updateProduct
} from "@/api/entreprise/product";
import waves from "@/directive/waves";

export default {
  name: "complexTable",
  directives: {
    waves
  },

  data() {
    // TODO - Form for Create Data
    return {
      tableKey: 0,
      list: [],
      ProductDistributionEnterprise: [
        {
          label: "",
          options: []
        },
        {
          label: "",
          options: []
        }
      ],
      BigClient: [
        {
          label: "",
          options: []
        },
        {
          label: "",
          options: []
        }
      ],
      BigClientProducts: [
        {
          label: "",
          options: []
        },
        {
          label: "",
          options: []
        }
      ],
      listLoading: true,
      itemLoading: true,
      // Quantity of Row to Show
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: "+id"
      },
      temp: {
        Id_Product_DistributionEnterprise: [],
        Id_BigClient: [],
        Id_Product_BigClient: [],
        RotationCalculationIntervalDays: 0,
        Status: false
      },

      dialogFormVisible: false,
      dialogStatus: "",
      textMap: {
        update: "Edit",
        create: "Create"
      },

      dialogPvVisible: false,
      pvData: [],
      rules: {
        Id_Product_DistributionEnterprise: [
          {
            required: true,
            message: "Distribution Enterprise’s Product is required",
            trigger: "change"
          }
        ],
        Id_Product_BigClient: [
          {
            required: true,
            message: "Client’s Product is required",
            trigger: "change"
          }
        ],
        Id_BigClient: [
          {
            required: true,
            message: "Client is required",
            trigger: "blur,change"
          }
        ],
        Status: [
          { required: true, message: "Status is required", trigger: "change" }
        ]
      },
      downloadLoading: false
    };
  },

  filters: {
    statusFilter(status) {
      const statusMap = {
        true: "success",
        false: "danger"
      };
      return statusMap[status];
    }
  },
  created() {
    this.getList();
  },

  watch: {
    "temp.Id_BigClient"() {
      console.log(this.temp.Id_BigClient);
      this.itemLoading = true;
      if (this.temp.Id_BigClient !== undefined) {
        fetchListProductsProviders(this.temp.Id_BigClient).then(response => {
          this.BigClientProducts[1].options = response.data;
          this.BigClientProducts[1].label = "Aviable Values";
          this.itemLoading = false;
        });
      } else {
        this.BigClientProducts[1].options = [];
        this.BigClientProducts[1].label = "";
      }
    }
  },

  methods: {
    getProduct(param) {
      this.itemLoading = true;
      fetchProduct(param).then(response => {
        this.temp = response.data[0];
        this.itemLoading = false;
      });
    },
    getList() {
      this.listLoading = true;
      fetchListProducts().then(response => {
        console.log(response.data);
        this.list = response.data;
        this.list = this.list;
        this.listLoading = false;
      });
    },
    getDistributionentErpriseAvailable() {
      this.itemLoading = true;
      fetchListProductsAviable().then(response => {
        this.ProductDistributionEnterprise[1].options = response.data;
        this.ProductDistributionEnterprise[1].label = "Aviable Values";
        this.itemLoading = false;
      });
    },
    getBigClients() {
      fetchListClients().then(response => {
        this.BigClient[1].options = response.data;
        this.BigClient[1].label = "Aviable Values";
      });
    },

    // Handles
    handleFilter() {
      this.listQuery.page = 1;
      this.getList();
    },
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: "Actualizado",
        type: "success"
      });
      row.status = status;
    },
    cleanCurrentValues() {
      this.BigClient[0].label = "";
      this.BigClient[0].options.splice(0, 1);

      this.ProductDistributionEnterprise[0].label = "";
      this.ProductDistributionEnterprise[0].options.splice(0, 1);

      this.BigClientProducts[0].label = "";
      this.BigClientProducts[0].options.splice(0, 1);
    },
    resetTemp() {
      this.cleanCurrentValues();
      this.temp = {
        Id_Product_DistributionEnterprise: this.getDistributionentErpriseAvailable(),
        Id_Product_BigClient: [],
        Id_BigClient: this.getBigClients(),
        RotationCalculationIntervalDays: 0,
        Status: false
      };
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = "create";
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },
    createData() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          creatProduct(this.temp).then(() => {
            this.dialogFormVisible = false;
            this.$notify({
              title: "Registrado",
              message: "El producto se ha registrado satisfactoriamente.",
              type: "success",
              duration: 2000
            });
          });
        }
      });
    },

    // Update Methods
    populeSelectControls(param) {
      // Populate the Select Controls
      this.getBigClients();
      this.getDistributionentErpriseAvailable();

      // Current Value of Bigclient
      this.BigClient[0].options = [
        { Id: param.Id_BigClient, Name: param.BigClientName }
      ];
      this.BigClient[0].label = "Current Value";

      // Current Value of ProductDistributionEnterprise
      this.ProductDistributionEnterprise[0].options = [
        {
          Id: param.Id_Product_DistributionEnterprise,
          Name: param.DistributionEnterpriseProductName
        }
      ];
      this.ProductDistributionEnterprise[0].label = "Current Value";
      // Populate DistributionentErpriseAvailable Array Affer getting the Current Value

      // Current Value of BigClientProducts
      this.BigClientProducts[0].options = [
        { Id: param.Id_Product_BigClient, Name: param.BigClientProductName }
      ];
      this.BigClientProducts[0].label = "Current Value";
    },

    handleUpdate(row) {
      // Get the Current Value
      this.populeSelectControls(row);
      this.getProduct(row.Id);
      this.dialogStatus = "update";
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },
    updateData() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          const tempData = Object.assign({}, this.temp);
          updateProduct(tempData.Id, tempData).then(() => {
            for (const v of this.list) {
              if (v.Id === this.temp.Id) {
                const index = this.list.indexOf(v);
                this.list.splice(index, 1, this.temp);
                break;
              }
            }
            this.dialogFormVisible = false;
            this.$notify({
              title: "Actualizado",
              message: "Producto Actualizado",
              type: "success",
              duration: 2000
            });
          });
        }
      });
    },

    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData;
        this.dialogPvVisible = true;
      });
    },

    handleDownload() {
      this.downloadLoading = true;
      import("@/vendor/Export2Excel").then(excel => {
        const tHeader = ["timestamp", "title", "type", "importance", "status"];
        const filterVal = [
          "timestamp",
          "title",
          "type",
          "importance",
          "status"
        ];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel(tHeader, data, "table-list");
        this.downloadLoading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v =>
        filterVal.map(j => {
          if (j === "timestamp") {
            return parseTime(v[j]);
          } else {
            return v[j];
          }
        })
      );
    }
  }
};
</script>
