<template>
  <div class="app-container calendar-list-container">
    <div class="filter-container">
      <el-input @keyup.enter.native="handleFilter" style="width: 200px;" class="filter-item" :placeholder="$t('table.title')" v-model="listQuery.title">
      </el-input>
      <el-button class="filter-item" type="primary" v-waves icon="el-icon-search" @click="handleFilter">{{$t('table.search')}}</el-button>
      <el-button class="filter-item" style="margin-left: 10px;" @click="handleCreate" type="primary" icon="el-icon-edit">{{$t('table.add')}}</el-button>
      <el-button class="filter-item" type="primary" :loading="downloadLoading" v-waves icon="el-icon-download" @click="handleDownload">{{$t('table.export')}}</el-button>
    </div>

    <!-- Datatable -->

    <el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="Loading" border fit highlight-current-row style="width: 100%">
      <el-table-column type="expand" width="5%" label="Details">
      <template slot-scope="props">
        <p>Email: {{ props.row.Email }}</p>
        <p>ProductsComingToExpire: {{ props.row.ProductsComingToExpire }}</p>
        <p>ProductsUnderRotationThresHold: {{ props.row.ProductsUnderRotationThresHold }}</p>
        <p>ProductsWithZeroRotation: {{ props.row.ProductsWithZeroRotation }}</p>
      </template>
      </el-table-column>
      <el-table-column prop="Id" label="Id" width="5%" sortable>
			</el-table-column>
      <el-table-column prop="Email" label="Email" width="85%" sortable>
      </el-table-column>
      <el-table-column align="center" :label="$t('table.actions')" width="10%" class-name="small-padding">
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">{{$t('table.edit')}}</el-button>
        </template>
      </el-table-column>
  <!--    
      <el-table-column prop="Status" label="Status" width="100" :filters="[{ text: 'true', value: 'true' }, { text: 'false', value: 'false' }]" :filter-method="filterStatus" filter-placement="bottom-end">
      <template slot-scope="scope">
        <el-tag :type="scope.row.Status === true ? 'success' : 'danger'" close-transition>{{scope.row.Status}}</el-tag>
              </template>
    </el-table-column>
    -->
    </el-table>
    <!-- <div class="pagination-container">
      <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.page" :page-sizes="[10,20,30, 50]" :page-size="listQuery.limit" layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
    </div> -->

    <!-- Modal Form Handel -->
    
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form :rules="rules" ref="dataForm" :model="temp" label-position="top">
        <el-form-item label="Email" prop="Email">
          <el-input v-model="temp.Email"></el-input>
        </el-form-item>
        <el-form-item label="ProductsUnderRotationThresHold" prop="ProductsUnderRotationThresHold">
          <el-checkbox v-model="temp.ProductsUnderRotationThresHold" label="Check" border></el-checkbox>
        </el-form-item>
        <el-form-item label="ProductsWithZeroRotation" prop="ProductsWithZeroRotation">
          <el-checkbox v-model="temp.ProductsWithZeroRotation" label="Check" border></el-checkbox>
        </el-form-item>
        <el-form-item label="ProductsComingToExpire" prop="ProductsComingToExpire">
          <el-checkbox v-model="temp.ProductsComingToExpire" label="Check" border></el-checkbox>
        </el-form-item>
        <el-form-item label="AutomaticBidIniciated" prop="AutomaticBidIniciated">
          <el-checkbox v-model="temp.AutomaticBidIniciated" label="Check" border></el-checkbox>
        </el-form-item>
        <el-form-item label="ApprovalOfAutomaticBid" prop="ApprovalOfAutomaticBid">
          <el-checkbox v-model="temp.ApprovalOfAutomaticBid" label="Check" border></el-checkbox>
        </el-form-item>
        <el-form-item label="ApprovalOfAutomaticBidReceived" prop="ApprovalOfAutomaticBidReceived">
          <el-checkbox v-model="temp.ApprovalOfAutomaticBidReceived" label="Check" border></el-checkbox>
        </el-form-item>
        <el-form-item label="Status" prop="Status">
          <el-switch v-model="temp.Status" active-text="Active" inactive-text="Inactive" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
        </el-form-item>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">{{$t('table.cancel')}}</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="createData">{{$t('table.confirm')}}</el-button>
        <el-button v-else type="primary" @click="updateData">{{$t('table.confirm')}}</el-button>
      </div>
    </el-dialog>

    <el-dialog title="Reading statistics" :visible.sync="dialogPvVisible">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Channel"> </el-table-column>
        <el-table-column prop="pv" label="Pv"> </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">{{$t('table.confirm')}}</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import {
  fetchListClientAlerts,
  fetchClient,
  creatClientAlert,
  updateClientAlerts
} from "@/api/client/alert";
import waves from "@/directive/waves";

export default {
  name: "complexTable",
  directives: {
    waves
  },
  data() {
    // TODO - Form for Create Data
    return {
      tableKey: 0,
      list: [],
      BigClient: [],
      listLoading: true,
      // Quantity of Row to Show
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: "+id"
      },
      temp: {
        Email: "",
        ProductsUnderRotationThresHold: false,
        ProductsWithZeroRotation: false,
        ProductsComingToExpire: false,
        AutomaticBidIniciated: false,
        ApprovalOfAutomaticBid: false,
        ApprovalOfAutomaticBidReceived: false,
        Status: false,
        Id_BigClient: undefined
      },

      dialogFormVisible: false,
      dialogStatus: "",
      textMap: {
        update: "Edit",
        create: "Create"
      },

      dialogPvVisible: false,
      pvData: [],
      rules: {
        Email: [
          {
            required: true,
            message: "Email is required",
            trigger: "blur,change"
          },
          {
            pattern: /([a-z0-9][-a-z0-9_\+\.]*[a-z0-9])@([a-z0-9][-a-z0-9\.]*[a-z0-9]\.(com|co|edu|gov|info|net|org|ve)|([0-9]{1,3}\.{3}[0-9]{1,3}))/,
            message: "It must be a valid email: jhon.doe@example.com"
          }
        ]
      }
    };
  },
  filters: {
    statusFilter(status) {
      const statusMap = {
        true: "success",
        false: "danger"
      };
      return statusMap[status];
    }
  },
  created() {
    this.getList();
  },
  methods: {
    getList() {
      this.listLoading = true;
      fetchListClientAlerts().then(response => {
        console.log(response.data);
        this.list = response.data;
        this.list = this.list;
        this.listLoading = false;
      });
    },
    // Handles
    handleFilter() {
      this.listQuery.page = 1;
      this.getList();
    },
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: "Actualizado",
        type: "success"
      });
      row.status = status;
    },
    resetTemp() {
      this.temp = {
        Email: "",
        ProductsUnderRotationThresHold: false,
        ProductsWithZeroRotation: false,
        ProductsComingToExpire: false,
        AutomaticBidIniciated: false,
        ApprovalOfAutomaticBid: false,
        ApprovalOfAutomaticBidReceived: false,
        Status: false,
        Id_BigClient: undefined
      };
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = "create";
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },
    createData() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          this.temp.Id_BigClient = this.$store.getters.id;
          creatClientAlert(this.temp).then(response => {
            this.dialogFormVisible = false;
            this.$notify({
              title: "Registrado",
              message: "El cliente se ha registrado satisfactoriamente.",
              type: "success",
              duration: 2000
            });
            this.getList();
          });
        }
      });
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row); // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp);
      this.dialogStatus = "update";
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },
    updateData() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          const tempData = Object.assign({}, this.temp);
          tempData.timestamp = +new Date(tempData.timestamp);
          updateClientAlerts(tempData.Id, tempData).then(() => {
            for (const v of this.list) {
              if (v.Id === this.temp.Id) {
                const index = this.list.indexOf(v);
                this.list.splice(index, 1, this.temp);
                break;
              }
            }
            this.dialogFormVisible = false;
            this.$notify({
              title: "成功",
              message: "更新成功",
              type: "success",
              duration: 2000
            });
          });
        }
      });
    },
    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData;
        this.dialogPvVisible = true;
      });
    },
    handleDownload() {
      this.downloadLoading = true;
      import("@/vendor/Export2Excel").then(excel => {
        const tHeader = ["timestamp", "title", "type", "importance", "status"];
        const filterVal = [
          "timestamp",
          "title",
          "type",
          "importance",
          "status"
        ];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel(tHeader, data, "table-list");
        this.downloadLoading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v =>
        filterVal.map(j => {
          if (j === "timestamp") {
            return parseTime(v[j]);
          } else {
            return v[j];
          }
        })
      );
    }
  }
};
</script>
