  <template>
    <div class="app-container calendar-list-container">
      <div class="filter-container">
        <el-input @keyup.enter.native="handleFilter" style="width: 200px;" class="filter-item" :placeholder="$t('table.title')" v-model="listQuery.title">
        </el-input>
        <el-button class="filter-item" type="primary" v-waves icon="el-icon-search" @click="handleFilter">{{$t('table.search')}}</el-button>
        <el-button class="filter-item" style="margin-left: 10px;" @click="handleCreate" type="primary" icon="el-icon-edit">{{$t('table.add')}}</el-button>
        <el-button class="filter-item" type="primary" :loading="downloadLoading" v-waves icon="el-icon-download" @click="handleDownload">{{$t('table.export')}}</el-button>
    </div>

      <!-- Datatable -->

      <el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="Loading" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="Id" label="Id" width="5%" sortable>
        </el-table-column>
        <el-table-column prop="BigClientProductName" label="BigClientProductName" width="20%" sortable>
        </el-table-column>
              <el-table-column prop="Presentation" label="Presentation" width="15%" sortable>
        </el-table-column>
              <el-table-column prop="OrderDate" label="OrderDate" width="10%" sortable>
        </el-table-column>
        <el-table-column prop="SuggestedQuantity" label="SuggestedQuantity" width="10%" sortable>
        </el-table-column>
        <el-table-column align="center" label="Overwrite" width="5%">
          <template slot-scope="scope">
            <el-tag :type="scope.row.Overwrite | statusFilter">{{scope.row.Overwrite}}</el-tag>
          </template>
        </el-table-column>
        <el-table-column align="center" :label="$t('table.actions')" width="10%" class-name="small-padding">
          <template slot-scope="scope">
            <el-button size="mini" @click="handleApprovement(scope.row)">{{$t('table.details')}}</el-button>
          </template>
        </el-table-column>

    <!--    
        <el-table-column prop="Status" label="Status" width="100" :filters="[{ text: 'true', value: 'true' }, { text: 'false', value: 'false' }]" :filter-method="filterStatus" filter-placement="bottom-end">
        <template slot-scope="scope">
          <el-tag :type="scope.row.Status === true ? 'success' : 'danger'" close-transition>{{scope.row.Status}}</el-tag>
                </template>
      </el-table-column>
      -->
      </el-table>
      <!-- <div class="pagination-container">
        <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.page" :page-sizes="[10,20,30,50]" :page-size="listQuery.limit" layout="total, sizes, prev, pager, next, jumper">
        </el-pagination>
      </div> -->

      <!-- Modal Form Handel -->
      
      <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
        <el-form v-loading="itemLoading" :rules="rules" ref="dataForm" :model="temp" label-position="top">
          <el-form-item label="Product" prop="Id_Product">
          <el-select class="filter-item isWidth100" :disabled="productIsDisable" v-model="temp.Id_Product" placeholder="Please select">
            <el-option v-for="item in productList" :key="item.Id" :label="item.Name" :value="item.Id">
            </el-option>
          </el-select>
          </el-form-item>
          <el-form-item label="DeliveryDate" prop="DeliveryDate">
            <el-date-picker :readonly="temp.Status === 'WD' && dialogStatus === 'Approvement'" suffix-icon="el-icon-date"  v-model="temp.DeliveryDate" border value-format="yyyy-MM-dd"></el-date-picker>
          </el-form-item>
          <el-form-item label="OrderDate" prop="OrderDate">
            <el-date-picker :readonly="temp.Status === 'WD' && dialogStatus === 'Approvement'" suffix-icon="el-icon-date" v-model="temp.OrderDate" border value-format="yyyy-MM-dd"></el-date-picker>
          </el-form-item>
          <el-form-item label="ValidityFrom / ValidityTo">
            <el-date-picker type="daterange" :readonly="temp.Status === 'WD'  && dialogStatus === 'Approvement'" suffix-icon="el-icon-date" start-placeholder="ValidityFrom" end-placeholder="ValidityTo" range-separator="-" v-model="dateRange" value-format="yyyy-MM-dd"></el-date-picker>
          </el-form-item>
          <el-form-item label="SuggestedQuantity" prop="SuggestedQuantity">
            <el-input :readonly="temp.Status === 'WD'  && dialogStatus === 'Approvement'" placeholder="Please input" v-model="temp.SuggestedQuantity" controls="false"></el-input>
          </el-form-item>
          <el-form-item label="ProductUnitPrice" prop="ProductUnitPrice">
            <el-input :readonly="temp.Status === 'WD'  && dialogStatus === 'Approvement'" placeholder="Please input" v-model="temp.ProductUnitPrice" controls="false"></el-input>
          </el-form-item>
          <el-form-item v-if="dialogStatus !== 'Create'" label="Overwrite" prop="Overwrite">
            <el-checkbox label="Check" v-model="temp.Overwrite" border></el-checkbox>
          </el-form-item>
          <el-form-item v-if="dialogStatus !== 'Create'" label="Status" prop="Status">
            <el-input placeholder="Please input" v-model="temp.Status"></el-input>
          </el-form-item>

        </el-form>

        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">{{$t('table.cancel')}}</el-button>
          <el-button v-if="dialogStatus ==='Create'" type="primary" @click="createData">{{$t('table.confirm')}}</el-button>          
          <el-button v-if="temp.Status !== 'WD'" type="warning" @click="updateData">{{$t('table.edit')}}</el-button>
          <el-button v-if="temp.Status === 'WD'" type="success" @click="approvementData">{{$t('table.approve')}}</el-button>
          <el-button v-if="temp.Status === 'WD'" type="danger" @click="disapprovementData">{{$t('table.disapprove')}}</el-button>
        </div>
      </el-dialog>

      <el-dialog title="Reading statistics" :visible.sync="dialogPvVisible">
        <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
          <el-table-column prop="key" label="Channel"> </el-table-column>
          <el-table-column prop="pv" label="Pv"> </el-table-column>
        </el-table>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="dialogPvVisible = false">{{$t('table.approve')}}</el-button>
        </span>
      </el-dialog>

    </div>
  </template>

  <script>
import {
  fetchClientOffer,
  fetchListClientOffers,
  creatClientOffer,
  updateClientOffer
} from "@/api/client/offer";
import { fetchListProducts } from "@/api/client/product";
import waves from "@/directive/waves";

export default {
  name: "complexTable",
  directives: {
    waves
  },
  data() {
    // TODO - Form for Create Data
    return {
      tableKey: 0,
      list: [],
      BigClient: [],
      productList: [],
      dateRange: [],
      listLoading: true,
      itemLoading: true,
      productIsDisable: true,
      // Quantity of Row to Show
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: "+id"
      },
      temp: {
        Id_Product: undefined,
        DeliveryDate: undefined,
        OrderDate: undefined,
        ValidityFrom: undefined,
        ValidityTo: undefined,
        SuggestedQuantity: undefined,
        ProductUnitPrice: undefined,
        Overwrite: true,
        Status: "AS"
      },

      dialogFormVisible: false,
      dialogStatus: "",
      textMap: {
        Approvement: "Details",
        Create: "Create"
      },

      dialogPvVisible: false,
      pvData: [],
      rules: {
        Id_Product: [
          {
            required: true,
            message: "Product is required",
            trigger: "blur,change"
          }
        ],
        DeliveryDate: [
          {
            required: true,
            message: "DeliveryDate is required",
            trigger: "change"
          }
        ],
        OrderDate: [
          {
            required: true,
            message: "OrderDate is required",
            trigger: "change"
          }
        ],
        dateRange: [
          {
            required: true,
            message: "ValidityFrom / ValidityTo is required",
            trigger: "change"
          }
        ],
        SuggestedQuantity: [
          {
            required: true,
            message: "SuggestedQuantity is required",
            trigger: "change"
          }
        ],
        ProductUnitPrice: [
          {
            required: true,
            message: "ValidityFrom / ValidityTo is required",
            trigger: "change"
          }
        ],
        Status: [
          {
            required: true,
            message: "ValidityFrom / ValidityTo is required",
            trigger: "change"
          }
        ]
      },
      downloadLoading: false
    };
  },

  filters: {
    statusFilter(status) {
      const statusMap = {
        true: "success",
        false: "danger"
      };
      return statusMap[status];
    }
  },
  created() {
    this.getList();
  },
  methods: {
    getClientOffer(param) {
      this.itemLoading = true;
      fetchClientOffer(param).then(response => {
        this.temp = response.data[0];

        this.dateRange = [];
        this.dateRange[0] = response.data[0].ValidityFrom;
        this.dateRange[1] = response.data[0].ValidityTo;

        console.log(this.temp);
        this.itemLoading = false;
      });
    },
    getList() {
      this.listLoading = true;
      fetchListClientOffers().then(response => {
        console.log(response.data);
        this.list = response.data;
        this.list = this.list;
        this.listLoading = false;
      });
    },
    getBigClients() {
      fetchListClientBusnisseRule().then(response => {
        this.BigClient = response.data;
      });
    },
    getProducts() {
      this.itemLoading = true;
      fetchListProducts().then(response => {
        console.log(response.data);
        this.productList = response.data;
        this.itemLoading = false;
      });
    },
    // Handles
    handleFilter() {
      this.listQuery.page = 1;
      this.getList();
    },
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: "Actualizado",
        type: "success"
      });
      row.status = status;
    },
    resetTemp() {
      this.dateRange = [];
      this.productIsDisable = false;
      this.temp = {
        Id_Product: this.getProducts(),
        DeliveryDate: undefined,
        OrderDate: undefined,
        ValidityFrom: undefined,
        ValidityTo: undefined,
        SuggestedQuantity: undefined,
        ProductUnitPrice: undefined,
        Overwrite: true,
        Status: "AS"
      };
    },
    // Get / Set Daterange Values
    getDateRangeValues() {
      this.temp.ValidityFrom = this.dateRange[0];
      this.temp.ValidityTo = this.dateRange[1];
    },

    handleCreate() {
      this.resetTemp();

      this.dialogStatus = "Create";
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },
    createData() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          console.log(this.temp)
          this.getDateRangeValues();
          creatClientOffer(this.temp).then(() => {
            this.dialogFormVisible = false;
            this.$notify({
              title: "Registrado",
              message: "La Oferta se ha registrado satisfactoriamente.",
              type: "success",
              duration: 2000
            });
          });
          this.getList();
        }
      });
    },

    handleApprovement(row) {
      this.getClientOffer(row.Id);
      this.getProducts();
      this.productIsDisable = true;
      console.log(this.temp);
      // this.temp = Object.assign({}, row); // copy obj
      this.dialogStatus = "Approvement";
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },

    updateData() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          this.getDateRangeValues();
          console.log(this.dateRange);
          const tempData = Object.assign({}, this.temp);
          updateClientOffer(tempData.Id, tempData).then(() => {
            for (const v of this.list) {
              if (v.Id === this.temp.Id) {
                const index = this.list.indexOf(v);
                this.list.splice(index, 1, this.temp);
                break;
              }
            }
            this.$notify({
              title: "Actualizado",
              message: "Orden Actualizada",
              type: "success",
              duration: 2000
            });
          });
        }
      });
    },

    approvementData() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          const tempData = { Id_SelfApprovedOrder: this.temp.Id };
          approveOrden(tempData).then(() => {
            for (const v of this.list) {
              if (v.id === this.temp.id) {
                const index = this.list.indexOf(v);
                this.list.splice(index, 1, this.temp);
                break;
              }
            }
            this.dialogFormVisible = false;
            this.$notify({
              title: "成功",
              message: "更新成功",
              type: "info",
              duration: 2000
            });
          });
        }
      });
    },

    disapprovementData() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          const tempData = { Id_SelfApprovedOrder: this.temp.Id };
          disapproveOrden(tempData).then(() => {
            for (const v of this.list) {
              if (v.id === this.temp.id) {
                const index = this.list.indexOf(v);
                this.list.splice(index, 1, this.temp);
                break;
              }
            }
            this.dialogFormVisible = false;
            this.$notify({
              title: "成功",
              message: "更新成功",
              type: "info",
              duration: 2000
            });
          });
        }
      });
    },

    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData;
        this.dialogPvVisible = true;
      });
    },
    handleDownload() {
      this.downloadLoading = true;
      import("@/vendor/Export2Excel").then(excel => {
        const tHeader = ["timestamp", "title", "type", "importance", "status"];
        const filterVal = [
          "timestamp",
          "title",
          "type",
          "importance",
          "status"
        ];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel(tHeader, data, "table-list");
        this.downloadLoading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v =>
        filterVal.map(j => {
          if (j === "timestamp") {
            return parseTime(v[j]);
          } else {
            return v[j];
          }
        })
      );
    }
  }
};
</script>
