  <template>
    <div class="app-container calendar-list-container">
      <div class="filter-container">
        <el-input @keyup.enter.native="handleFilter" style="width: 200px;" class="filter-item" :placeholder="$t('table.title')" v-model="listQuery.title">
        </el-input>
        <el-button class="filter-item" type="primary" v-waves icon="el-icon-search" @click="handleFilter">{{$t('table.search')}}</el-button>
        <el-button class="filter-item" type="primary" :loading="downloadLoading" v-waves icon="el-icon-download" @click="handleDownload">{{$t('table.export')}}</el-button>
    </div>

      <!-- Datatable -->

      <el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="Loading" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="Id" label="Id" width="5%" sortable>
        </el-table-column>
        <el-table-column prop="BigClientName" label="BigClientName" width="10%" sortable>
        </el-table-column>
              <el-table-column prop="DistributionEnterpriseProductName" label="DistributionEnterpriseProductName" width="20%" sortable>
        </el-table-column>
              <el-table-column prop="Presentation" label="Presentation" width="15%" sortable>
        </el-table-column>
              <el-table-column prop="OrderDate" label="OrderDate" width="10%" sortable>
        </el-table-column>
        <el-table-column prop="SuggestedQuantity" label="SuggestedQuantity" width="10%" sortable>
        </el-table-column>
        <el-table-column align="center" label="Overwrite" width="5%">
          <template slot-scope="scope">
            <el-tag :type="scope.row.Overwrite | statusFilter">{{scope.row.Overwrite}}</el-tag>
          </template>
        </el-table-column>
        <el-table-column align="center" :label="$t('table.actions')" width="10%" class-name="small-padding">
          <template slot-scope="scope">
            <el-button size="mini" @click="handleApprovement(scope.row)">{{$t('table.details')}}</el-button>
          </template>
        </el-table-column>

    <!--    
        <el-table-column prop="Status" label="Status" width="100" :filters="[{ text: 'true', value: 'true' }, { text: 'false', value: 'false' }]" :filter-method="filterStatus" filter-placement="bottom-end">
        <template slot-scope="scope">
          <el-tag :type="scope.row.Status === true ? 'success' : 'danger'" close-transition>{{scope.row.Status}}</el-tag>
                </template>
      </el-table-column>
      -->
      </el-table>
      <!-- <div class="pagination-container">
        <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.page" :page-sizes="[10,20,30,50]" :page-size="listQuery.limit" layout="total, sizes, prev, pager, next, jumper">
        </el-pagination>
      </div> -->

      <!-- Modal Form Handel -->
      
      <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
        <el-form v-loading="itemLoading" :readonly="true" :rules="rules" ref="dataForm" :model="temp" label-position="top">
          <el-form-item  label="Name" prop="Name">
            <el-input suffix-icon="el-icon-goods" :readonly="true" v-model="temp.Name" border></el-input>
          </el-form-item>
          <el-form-item label="DeliveryDate" prop="DeliveryDate">
            <el-input suffix-icon="el-icon-date" :readonly="true" v-model="temp.DeliveryDate" border></el-input>
          </el-form-item>
          <el-form-item label="OrderDate" prop="OrderDate">
            <el-input suffix-icon="el-icon-date" :readonly="true" v-model="temp.OrderDate" border></el-input>
          </el-form-item>
          <el-form-item label="ValidityFrom" prop="ValidityFrom">
            <el-input suffix-icon="el-icon-date" :readonly="true" laceholder="Please input" v-model="temp.ValidityFrom" controls="false"></el-input>
          </el-form-item>
          <el-form-item label="ValidityTo" prop="ValidityTo">
            <el-input suffix-icon="el-icon-date" :readonly="true" placeholder="Please input" v-model="temp.ValidityTo" controls="false"></el-input>
          </el-form-item>
          <el-form-item label="SuggestedQuantity" prop="SuggestedQuantity">
            <el-input :readonly="true" placeholder="Please input" v-model="temp.SuggestedQuantity" controls="false"></el-input>
          </el-form-item>
          <el-form-item label="ProductUnitPrice" prop="ProductUnitPrice">
            <el-input :readonly="true" placeholder="Please input" v-model="temp.ProductUnitPrice" controls="false"></el-input>
          </el-form-item>
        </el-form>

        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">{{$t('table.cancel')}}</el-button>
        <!-- <el-button type="success" @click="approvementData">{{$t('table.approve')}}</el-button> -->
        </div>
      </el-dialog>

      <el-dialog title="Reading statistics" :visible.sync="dialogPvVisible">
        <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
          <el-table-column prop="key" label="Channel"> </el-table-column>
          <el-table-column prop="pv" label="Pv"> </el-table-column>
        </el-table>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="dialogPvVisible = false">{{$t('table.approve')}}</el-button>
        </span>
      </el-dialog>

    </div>
  </template>

  <script>
  import {
    fetchEntrepriseOffer,
    fetchListEntrepriseOffers,
    creatEntrepriseOffer
  } from "@/api/entreprise/offer";
  import waves from "@/directive/waves";

  export default {
    name: "complexTable",
    directives: {
      waves
    },
    data() {
      // TODO - Form for Create Data
      return {
        tableKey: 0,
        list: [],
        BigClient: [],
        listLoading: true,
        itemLoading: true,
        // Quantity of Row to Show
        listQuery: {
          page: 1,
          limit: 20,
          importance: undefined,
          title: undefined,
          type: undefined,
          sort: "+id"
        },
        temp: {
          Name: "",
          DeliveryDate: false,
          OrderDate: false,
          ValidityFrom: undefined,
          ValidityTo: undefined,
          SuggestedQuantity: undefined,
          ProductUnitPrice: undefined
        },

        dialogFormVisible: false,
        dialogStatus: "",
        textMap: {
          Approvement: "Details"
        },

        dialogPvVisible: false,
        pvData: [],
        rules: {
          MaxUnpayedBills: [
            {
              required: true,
              message: "MaxUnpayedBills is required",
              trigger: "blur,change"
            },
            {
              pattern: /[0-9]/,
              message: "It must be a Interger Number"
            }
          ],
          MinimumProfitability: [
            {
              required: true,
              message: "MinimumProfitability is required",
              trigger: "change"
            }
          ],
          Id_BigClient: [
            { required: true, message: "Client is required", trigger: "change" }
          ]
        },
        downloadLoading: false
      };
    },

    filters: {
      statusFilter(status) {
        const statusMap = {
          true: "success",
          false: "danger"
        };
        return statusMap[status];
      }
    },
    created() {
      this.getList();
    },
    methods: {
      getEntrepriseOffer(param) {
        this.resetTemp()
        this.itemLoading = true;
        fetchEntrepriseOffer(param).then(response => {
          this.temp = response.data[0];
          this.itemLoading = false;
        });
      },
      getList() {
        this.listLoading = true;
        fetchListEntrepriseOffers().then(response => {
        console.log(response.data);
        this.list = response.data;
        this.list = this.list;
        this.listLoading = false;
        });
      },
      getBigClients() {
        fetchListClientBusnisseRule().then(response => {
          this.BigClient = response.data;
        });
      },
      // Handles
      handleFilter() {
        this.listQuery.page = 1;
        this.getList();
      },
      handleSizeChange(val) {
        this.listQuery.limit = val;
        this.getList();
      },
      handleCurrentChange(val) {
        this.listQuery.page = val;
        this.getList();
      },
      handleModifyStatus(row, status) {
        this.$message({
          message: "Actualizado",
          type: "success"
        });
        row.status = status;
      },
      resetTemp() {
        this.temp = {
          Name: "",
          DeliveryDate: undefined,
          OrderDate: undefined,
          ValidityFrom: undefined,
          ValidityTo: undefined,
          SuggestedQuantity: undefined,
          ProductUnitPrice: undefined
        };
      },
      handleCreate() {
        this.resetTemp();
        this.dialogStatus = "create";
        this.dialogFormVisible = true;
        this.$nextTick(() => {
          this.$refs["dataForm"].clearValidate();
        });
      },
      createData() {
        this.$refs["dataForm"].validate(valid => {
          if (valid) {
            creatEntreprisesBusnisseRule(this.temp).then(() => {
              this.list.unshift(this.temp);
              this.dialogFormVisible = false;
              this.$notify({
                title: "Registrado",
                message: "El cliente se ha registrado satisfactoriamente.",
                type: "success",
                duration: 2000
              });
            });
            this.getList();
          }
        });
      },
      handleApprovement(row) {
        this.getEntrepriseOffer(row.Id);
        // this.temp = Object.assign({}, row); // copy obj
        this.dialogStatus = "Approvement";
        this.dialogFormVisible = true;
        this.$nextTick(() => {
          this.$refs["dataForm"].clearValidate();
        });
      },
      approvementData() {
        this.$refs["dataForm"].validate(valid => {
          if (valid) {
            const tempData = Object.assign({}, this.temp);
            ApprovementArticle(tempData).then(() => {
              for (const v of this.list) {
                if (v.id === this.temp.id) {
                  const index = this.list.indexOf(v);
                  this.list.splice(index, 1, this.temp);
                  break;
                }
              }
              this.dialogFormVisible = false;
              this.$notify({
                title: "成功",
                message: "更新成功",
                type: "success",
                duration: 2000
              });
            });
          }
        });
      },
      handleFetchPv(pv) {
        fetchPv(pv).then(response => {
          this.pvData = response.data.pvData;
          this.dialogPvVisible = true;
        });
      },
      handleDownload() {
        this.downloadLoading = true;
        import("@/vendor/Export2Excel").then(excel => {
          const tHeader = ["timestamp", "title", "type", "importance", "status"];
          const filterVal = [
            "timestamp",
            "title",
            "type",
            "importance",
            "status"
          ];
          const data = this.formatJson(filterVal, this.list);
          excel.export_json_to_excel(tHeader, data, "table-list");
          this.downloadLoading = false;
        });
      },
      formatJson(filterVal, jsonData) {
        return jsonData.map(v =>
          filterVal.map(j => {
            if (j === "timestamp") {
              return parseTime(v[j]);
            } else {
              return v[j];
            }
          })
        );
      }
    }
  };
  </script>
